.Wrapper {
  margin: 0 auto;
  max-width: 768px;
  max-height: 100%;
  background: #f7f7f7;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.Logo {
  width: 120px;
}

.Title {
  margin: 5px 0 0 0;
}

.BannerScann {
  width: 80%;
  margin: 0 auto;
  background: #23004a;
  color: #fefefe;
  text-align: center;
  border-radius: 8px;
  padding: 1rem;
}

.Scann video {
  max-width: 100%;
  width: 100%;
}
.Scann {
  max-width: 100%;
  position: relative;
}
canvas {
  max-width: 100%;
}
canvas.drawingBuffer {
  position: absolute;
  top: 0;
  left: 0;
}

.Code {
  text-align: center;
  margin-bottom: 1rem;
}

.Code__result {
  font-size: 2rem;
}
.btn {
  padding: 0.8rem 1rem;
  background: #23004a;
  color: #fefefe;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:disabled {
  opacity: 0.5;
}

.Result {
  width: 80%;
  margin: 1rem auto;
}

.Result__list li {
  line-height: 1.5;
  font-size: 1.1rem;
}
